CUSTOMER_APP_ENV=local
CUSTOMER_LOG_LEVEL=INFO
CUSTOMER_DATABASE_URL=postgresql+psycopg://customer_service:customer_service@localhost:5435/customer_service
CUSTOMER_DB_POOL_SIZE=10
CUSTOMER_DB_MAX_OVERFLOW=10
CUSTOMER_SQL_ECHO=false
