NOTIFICATION_APP_ENV=local
NOTIFICATION_LOG_LEVEL=INFO
NOTIFICATION_DATABASE_URL=postgresql+psycopg://notification_service:notification_service@localhost:5436/notification_service
NOTIFICATION_DB_POOL_SIZE=10
NOTIFICATION_DB_MAX_OVERFLOW=10
NOTIFICATION_SQL_ECHO=false
